* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main {
  width: 100%;
  overflow: hidden; }

a:active,
a:link,
a:visited {
  text-decoration: none;
  color: inherit; }

body {
  font-family: 'arial'; }

.banner-container {
  width: 100%;
  height: 100vh;
  position: relative; }
  .banner-container .background {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .banner-container .background .wood1 {
      width: 55%;
      height: 100vh;
      background: -webkit-linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../imgs/wood1.png") 0 50% no-repeat;
      background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../imgs/wood1.png") 0 50% no-repeat;
      background-size: cover; }
    .banner-container .background .wood2 {
      width: 45%;
      height: 100vh;
      background: -webkit-linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../imgs/wood2.png") 50% 50% no-repeat;
      background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../imgs/wood2.png") 50% 50% no-repeat;
      background-size: cover; }

.banner-content {
  position: absolute;
  z-index: 1;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

header {
  width: 95%;
  margin: 0 auto;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.2em 0;
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8em; }
  header nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header nav ul {
      list-style-type: none;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-left: 2em; }
      header nav ul li {
        margin: 0 4em; }
        header nav ul li:last-child {
          margin-right: 0; }
  header .mob-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header .mob-menu span {
      color: #BEA67C;
      font-size: 2.4em;
      margin-right: 10px; }
  header .info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    header .info .i {
      margin-right: 30px;
      border: 1px solid rgba(255, 255, 255, 0.6);
      width: 30px;
      height: 30px;
      text-align: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      border-radius: 50%;
      cursor: pointer; }
    header .info span {
      color: #BEA67C; }
    header .info .language-settings {
      background: none;
      outline: 0;
      border: 0;
      color: #fff;
      width: 45px; }
      header .info .language-settings optgroup {
        background: #000; }

.logo {
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 5px;
  color: #fff;
  text-transform: uppercase; }
  .logo span {
    position: relative; }
    .logo span:after {
      content: '';
      height: 5px;
      background: #BEA67C;
      position: absolute;
      width: 85%;
      bottom: 40%;
      left: 5%; }

@-webkit-keyframes opacity-half {
  from {
    opacity: 0; }
  to {
    opacity: .5; } }

@keyframes opacity-half {
  from {
    opacity: 0; }
  to {
    opacity: .5; } }
@-webkit-keyframes opacity-full {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes opacity-full {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.intro {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90vh;
  width: 100%; }
  .intro .dots-left-side {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
    .intro .dots-left-side p {
      font-size: 2em;
      font-weight: bold;
      position: relative;
      color: #BEA67C;
      opacity: 0;
      -webkit-animation: opacity-full .4s 1s forwards;
              animation: opacity-full .4s 1s forwards; }
      .intro .dots-left-side p:before {
        content: '';
        background: #BEA67C;
        width: 1.6em;
        height: 2px;
        position: absolute;
        top: 45%;
        left: -180%;
        opacity: 0;
        -webkit-animation: opacity-full .4s 1.2s forwards;
                animation: opacity-full .4s 1.2s forwards; }
    .intro .dots-left-side ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: 0 0 0 3em;
      list-style-type: none; }
      .intro .dots-left-side ul li {
        margin: 0 2em;
        color: #BEA67C;
        opacity: 0;
        cursor: pointer;
        padding: 5px;
        font-size: 0.6em; }
        .intro .dots-left-side ul li:first-child {
          -webkit-animation: opacity-full 1s 1.4s forwards;
                  animation: opacity-full 1s 1.4s forwards; }
        .intro .dots-left-side ul li:nth-child(2) {
          -webkit-animation: opacity-half 1s 1.6s forwards;
                  animation: opacity-half 1s 1.6s forwards; }
        .intro .dots-left-side ul li:nth-child(3) {
          -webkit-animation: opacity-half 1s 1.8s forwards;
                  animation: opacity-half 1s 1.8s forwards; }
        .intro .dots-left-side ul li:nth-child(4) {
          -webkit-animation: opacity-half 1s 2s forwards;
                  animation: opacity-half 1s 2s forwards; }
  .intro .decor {
    color: #BEA67C;
    word-spacing: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.6em;
    -webkit-transform: rotate(90deg) translate(-100px, 0);
        -ms-transform: rotate(90deg) translate(-100px, 0);
            transform: rotate(90deg) translate(-100px, 0);
    -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
            transform-origin: 0 0;
    opacity: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-animation: opacity-half 0.4s 2.4s forwards;
            animation: opacity-half 0.4s 2.4s forwards; }

.banner-welcome {
  margin-left: -130px; }
  .banner-welcome h1 {
    text-transform: uppercase;
    color: #BEA67C;
    font-size: 7em;
    font-weight: bold;
    letter-spacing: 0.3em;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .banner-welcome .learn_more {
    outline: 0;
    border: 2px solid #fff;
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    background: none;
    color: #fff;
    padding: 1em 4em;
    cursor: pointer;
    margin: 3em 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .banner-welcome .learn_more span {
      -webkit-transition: -webkit-transform 0.3s;
              transition: transform 0.3s;
      -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
              transform: translate(0, 0);
      display: inline-block; }
    .banner-welcome .learn_more:hover span {
      -webkit-transform: translate(10px, 0);
          -ms-transform: translate(10px, 0);
              transform: translate(10px, 0); }
  .banner-welcome .scroll {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 200px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: 13% 0;
        -ms-transform-origin: 13% 0;
            transform-origin: 13% 0;
    margin-top: 50px; }
    .banner-welcome .scroll img {
      opacity: 0.7;
      -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
              transform: rotate(-90deg); }
    .banner-welcome .scroll p {
      text-transform: uppercase;
      font-size: 0.8em;
      letter-spacing: 2px;
      margin: 5px 0 0 100px;
      color: #BEA67C;
      opacity: 0.6;
      -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
              transform: translate(0, 0);
      -webkit-transition: -webkit-transform 0.3s;
              transition: transform 0.3s;
      -webkit-animation: move 0.5s ease-in alternate infinite;
              animation: move 0.5s ease-in alternate infinite; }
      .banner-welcome .scroll p span {
        position: relative;
        color: #fff; }
        .banner-welcome .scroll p span:before {
          content: '';
          height: 1px;
          width: 80px;
          background: #fff;
          position: absolute;
          bottom: 6px;
          left: -78px; }

.white-box {
  width: 55%;
  height: 35px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0; }

.f-letter {
  position: absolute;
  left: 13%;
  bottom: 1%;
  line-height: 0;
  color: #BEA67C;
  font-size: 22em;
  font-weight: bold;
  opacity: 0.1;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.clip {
  position: absolute;
  right: 16%;
  bottom: -30px;
  height: 60px;
  width: 3px;
  background: #BEA67C; }

@-webkit-keyframes move {
  to {
    -webkit-transform: translate(5px, 0px);
            transform: translate(5px, 0px); } }

@keyframes move {
  to {
    -webkit-transform: translate(5px, 0px);
            transform: translate(5px, 0px); } }
.decor-container,
.furniture-container {
  width: 100%;
  padding: 150px 0; }

.decor-content,
.furniture-content {
  width: 68%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .decor-content .content,
  .furniture-content .content {
    width: calc(100%/2);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative; }
    .decor-content .content .pre,
    .furniture-content .content .pre {
      width: 30%; }
    .decor-content .content .about-furniture,
    .furniture-content .content .about-furniture {
      width: 70%;
      padding-right: 4em; }
      .decor-content .content .about-furniture h1,
      .furniture-content .content .about-furniture h1 {
        text-transform: uppercase;
        font-size: 3em;
        position: relative;
        letter-spacing: 2px;
        margin-bottom: 1.4rem; }
        .decor-content .content .about-furniture h1:before,
        .furniture-content .content .about-furniture h1:before {
          content: '';
          width: 160px;
          height: 3px;
          background: #6D6D6D;
          position: absolute;
          left: -180px;
          top: 45%; }
      .decor-content .content .about-furniture p,
      .furniture-content .content .about-furniture p {
        line-height: 1.4;
        color: #6D6D6D;
        font-size: 1.3em;
        position: relative;
        margin-bottom: 30px; }
        .decor-content .content .about-furniture p:before,
        .furniture-content .content .about-furniture p:before {
          content: '';
          position: absolute;
          width: 50px;
          height: 4px;
          background: #BEA67C;
          top: 10%;
          left: -70px; }
  .decor-content .img,
  .furniture-content .img {
    width: 60%;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
    .decor-content .img img,
    .furniture-content .img img {
      -webkit-filter: grayscale(0.8);
              filter: grayscale(0.8); }

.about-decor {
  width: 70%;
  padding-left: 2em;
  text-align: right; }
  .about-decor h1 {
    text-transform: uppercase;
    font-size: 3em;
    position: relative;
    letter-spacing: 2px;
    margin-bottom: 1.4rem; }
    .about-decor h1:before {
      content: '';
      width: 160px;
      height: 3px;
      background: #6D6D6D;
      position: absolute;
      right: -180px;
      top: 45%; }
  .about-decor p {
    line-height: 1.4;
    color: #6D6D6D;
    font-size: 1.3em;
    position: relative;
    margin-bottom: 30px; }
    .about-decor p:before {
      content: '';
      position: absolute;
      width: 50px;
      height: 4px;
      background: #BEA67C;
      top: 10%;
      right: -70px; }

.furniture-text {
  text-transform: uppercase;
  color: #BEA67C;
  opacity: 0.2;
  font-size: 10em;
  position: absolute;
  bottom: 25%;
  right: -80%;
  font-weight: bold; }

.decor-text {
  text-transform: uppercase;
  color: #BEA67C;
  opacity: 0.2;
  font-size: 10em;
  position: absolute;
  bottom: 25%;
  left: -45%;
  font-weight: bold; }

.furniture-content .item_nr {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 3em;
  font-weight: bold;
  line-height: 0; }
  .furniture-content .item_nr span {
    color: #BEA67C; }
  .furniture-content .item_nr:after {
    content: '';
    position: absolute;
    width: 4px;
    height: 60px;
    top: 100px;
    left: 40%;
    background: #BEA67C; }

.decor-content .content .item_nr {
  position: absolute;
  bottom: 0;
  left: 90%;
  font-size: 3em;
  font-weight: bold;
  line-height: 0; }
  .decor-content .content .item_nr span {
    color: #BEA67C; }
  .decor-content .content .item_nr:after {
    content: '';
    position: absolute;
    width: 4px;
    height: 60px;
    top: 100px;
    right: 40%;
    background: #BEA67C; }
.decor-content .content .d-letter {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 0;
  font-weight: bold;
  color: #BEA67C;
  top: -200px;
  font-size: 22em;
  opacity: 0.1; }

.wooder-quality-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4em 0;
  text-align: center; }
  .wooder-quality-container h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3em;
    letter-spacing: 3px; }
  .wooder-quality-container > hr {
    width: 60px;
    height: 4px;
    background: #BEA67C;
    border: 0;
    outline: 0;
    margin: 20px 0; }
  .wooder-quality-container > p {
    font-size: 1.6em;
    color: #6D6D6D;
    line-height: 1.6; }

.movies-container {
  width: 68%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5em 0;
  position: relative; }

.movie {
  width: calc(100%/3 - 2em); }
  .movie hr {
    width: 40px;
    height: 1px;
    border: 0;
    outline: 0;
    background: #BEA67C;
    margin: 20px auto; }
  .movie .movie-title {
    font-weight: bold; }

.movie-miniature {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .movie-miniature .miniature {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 0 10px white, 0 0 0 11px #BEA67C;
    margin: 20px 0;
    -webkit-transition: all 0.3s;
            transition: all 0.3s; }
    .movie-miniature .miniature:hover {
      box-shadow: 0 0 0 15px white, 0 0 0 16px #BEA67C; }
    .movie-miniature .miniature .play-icon {
      color: #fff;
      font-size: 2em;
      position: absolute;
      left: 35%;
      right: 35%;
      top: 35%;
      bottom: 35%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      background: #BEA67C;
      padding: 15px 15px 15px 20px;
      line-height: 0;
      border-radius: 50%;
      opacity: 0.6;
      cursor: pointer;
      -webkit-transition: all 0.3s;
              transition: all 0.3s; }
      .movie-miniature .miniature .play-icon:hover {
        left: 30%;
        right: 30%;
        top: 30%;
        bottom: 30%; }
  .movie-miniature .miniature_table {
    background: url("../imgs/quality1.png") no-repeat 30% 50%;
    background-size: 160%; }
  .movie-miniature .miniature_chair {
    background: url("../imgs/quality2.png") no-repeat 30% 50%;
    background-size: cover; }
  .movie-miniature .miniature_desk {
    background: url("../imgs/quality3.png") no-repeat 30% 50%;
    background-size: 100%; }

.complexity-container {
  width: 100%;
  position: relative; }

.woody-background {
  padding: 400px 0;
  width: 100%;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../imgs/woodBottomBackground.png) no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(../imgs/woodBottomBackground.png) no-repeat center;
  background-size: 100%; }

.big-play-icon {
  color: rgba(255, 255, 255, 0.05);
  position: absolute;
  top: 0;
  right: 10%;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-size: 55em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.complexity-content {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  border: 1px solid #BEA67C;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.complexity-content--text {
  width: 60%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative; }
  .complexity-content--text h2 {
    color: #BEA67C;
    font-size: 2.6em;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.4;
    position: relative; }
    .complexity-content--text h2:before {
      content: '';
      width: 150px;
      height: 3px;
      background: #6D6D6D;
      position: absolute;
      right: 105%;
      top: 25%; }
  .complexity-content--text > p {
    font-size: 1.2em;
    line-height: 1.6;
    color: white;
    margin: 30px 0;
    position: relative; }
    .complexity-content--text > p:before {
      content: '';
      width: 50px;
      height: 4px;
      background: #BEA67C;
      position: absolute;
      right: 105%;
      top: 10%; }
  .complexity-content--text .watch-video {
    background: transparent;
    border: 0;
    outline: 0;
    color: white;
    padding: 1em 3em;
    border: 3px solid white;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.4em; }
  .complexity-content--text:after {
    content: '';
    width: 3px;
    height: 150px;
    background: #6D6D6D;
    position: absolute;
    left: 120%;
    top: 30%; }

.v-letter {
  font-size: 22em;
  font-weight: bold;
  color: #BEA67C;
  opacity: 0.1;
  top: 0;
  right: 15%;
  line-height: 0;
  position: absolute;
  z-index: -1; }

.learn-button {
  background: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  position: relative; }
  .learn-button:after {
    content: '';
    width: 40px;
    height: 3px;
    background: #BEA67C;
    position: absolute;
    bottom: -5px;
    left: 0; }
  .learn-button span {
    color: #BEA67C; }

.image-item {
  width: 100%;
  box-shadow: 0 0 15px #BEA67C; }

.about-us-container {
  width: 100%;
  padding: 6em 0; }

.about-us-content {
  width: 65%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }
  .about-us-content .img {
    width: calc(100%/2);
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .about-us-content .about-us-text {
    width: calc(100%/2);
    padding-left: 6em; }
    .about-us-content .about-us-text h1 {
      text-transform: uppercase;
      font-size: 3em;
      position: relative;
      letter-spacing: 2px;
      margin-bottom: 1.4rem; }
      .about-us-content .about-us-text h1:before {
        content: '';
        width: 160px;
        height: 3px;
        background: #6D6D6D;
        position: absolute;
        left: -180px;
        top: 45%; }
    .about-us-content .about-us-text p {
      line-height: 1.4;
      color: #6D6D6D;
      font-size: 1.3em;
      position: relative;
      margin-bottom: 30px; }
      .about-us-content .about-us-text p:before {
        content: '';
        position: absolute;
        width: 50px;
        height: 4px;
        background: #BEA67C;
        top: 10%;
        left: -70px; }

.about-word {
  position: absolute;
  top: 25%;
  left: -30%;
  text-transform: uppercase;
  color: #BEA67C;
  opacity: 0.1;
  font-weight: bold;
  font-size: 10em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.a-letter {
  position: absolute;
  font-size: 22em;
  color: #BEA67C;
  font-weight: bold;
  top: -70%;
  right: 10%;
  z-index: -1;
  opacity: 0.1; }

footer {
  background: black;
  padding: 2em 0; }

.footer-content {
  width: 65%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  color: #6D6D6D; }
  .footer-content .copy-year {
    text-transform: uppercase; }
  .footer-content .logo {
    position: absolute;
    line-height: 0;
    left: 35%;
    right: 35%;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    font-size: 2em; }
  .footer-content .designed-by a {
    color: lightgray;
    -webkit-transition: color .2s;
            transition: color .2s; }
    .footer-content .designed-by a:hover {
      color: #fff; }

/*# sourceMappingURL=styles.css.map */