@import 'extends';
$brown: #BEA67C;
$black: #000000;
$gray: #6D6D6D;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    overflow: hidden;
}

a:active,
a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'arial';
}

.banner-container {
    width: 100%;
    height: 100vh;
    position: relative;
    // overflow:hidden;
    .background {
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 0;
        display: flex;
        justify-content: space-between;
        user-select: none;

        .wood1 {
            width: 55%;
            height: 100vh;
            background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)) ,url('../imgs/wood1.png') 0 50% no-repeat;
            background-size: cover;
        }

        .wood2 {
            width: 45%;
            height: 100vh;
            background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), url('../imgs/wood2.png') 50% 50% no-repeat;
            background-size: cover;
        }
    }
}

.banner-content {
    position: absolute;
    z-index: 1;
    color: #fff;
    display: flex;
    width: 100%;
    flex-direction: column;
}

header {
    width: 95%;
    margin: 0 auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2em 0;
    color: rgba(255,255,255,0.8);
    font-size: 0.8em;
    // display:none;
    nav {
        display: flex;
        text-transform: uppercase;
        align-items: center;

        .logo {
            font-size: 3em;
            font-weight: bold;
            letter-spacing: 5px;
            color: #fff;

            span {
                position: relative;

                &:after {
                    content: '';
                    height: 5px;
                    background: $brown;
                    position: absolute;
                    width: 85%;
                    bottom: 40%;
                    left: 5%;
                }
            }
        }

        ul {
            list-style-type: none;
            display: flex;
            margin-left: 2em;

            li {
                margin: 0 4em;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }

    .mob-menu {
        display: flex;
        align-items: center;

        span {
            color: $brown;
            font-size: 2.4em;
            margin-right: 10px;
        }
    }

    .info {
        display: flex;
        align-items: center;

        .i {
            margin-right: 50px;
            border: 1px solid rgba(255,255,255,0.6);
            width: 30px;
            height: 30px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
        }

        span {
            color: $brown;
        }
    }
}

.intro {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
    // padding-top:26vh;
    width: 100%;

    .dots-left-side {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(90deg);

        p {
            font-size: 2em;
            font-weight: bold;
            position: relative;
            color: $brown;

            &:before {
                content: '';
                background: $brown;
                width: 1.6em;
                height: 2px;
                position: absolute;
                top: 45%;
                left: -180%;
            }
        }

        ul {
            display: flex;
            margin: 0 0 0 3em;
            list-style-type: none;

            li {
                margin: 0 2em;
                color: $brown;
                opacity: 0.5;
                cursor: pointer;
                padding: 5px;
                font-size: 0.6em;

                &:first-child {
                    opacity: 1;
                }
            }
        }
    }

    .decor {
        color: $brown;
        opacity: 0.4;
        word-spacing: 5px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 0.6em;
        transform: rotate(90deg) translate(-100px,0);
        transform-origin: 0 0;
        // &:after{
        //   content:'';
        //   width:60px;
        //   height:3px;
        //   background:$brown;
        //   position:absolute;
        //   top:0;
        //   right:-200%;
        // }
    }
}

.banner-welcome {
    margin-left: -130px;

    h1 {
        text-transform: uppercase;
        color: $brown;
        font-size: 7em;
        font-weight: bold;
        letter-spacing: 0.3em;
        user-select: none;
    }

    .learn_more {
        outline: 0;
        border: 2px solid #fff;
        font-size: 1em;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-align: center;
        background: none;
        color: #fff;
        padding: 1em 4em;
        cursor: pointer;
        margin: 3em 0;
        user-select: none;

        span {
            transition: transform 0.3s;
            transform: translate(0,0);
            display: inline-block;
        }

        &:hover span {
            transform: translate(10px,0);
        }
    }

    .scroll {
        display: flex;
        align-items: flex-start;
        width: 200px;
        cursor: pointer;
        user-select: none;
        transform: rotate(90deg);
        transform-origin: 13% 0;
        margin-top: 50px;

        img {
            opacity: 0.7;
            transform: rotate(-90deg);
        }

        p {
            text-transform: uppercase;
            font-size: 0.8em;
            letter-spacing: 2px;
            margin: 5px 0 0 100px;
            color: $brown;
            opacity: 0.6;
            transform: translate(0,0);
            transition: transform 0.3s;
            animation: move 0.5s ease-in alternate infinite;

            span {
                position: relative;
                color: #fff;

                &:before {
                    content: '';
                    height: 1px;
                    width: 80px;
                    background: #fff;
                    position: absolute;
                    bottom: 6px;
                    left: -78px;
                }
            }
        }
    }
}

.white-box {
    width: 55%;
    height: 35px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}

.f-letter {
    position: absolute;
    left: 13%;
    bottom: 1%;
    line-height: 0;
    color: $brown;
    font-size: 22em;
    font-weight: bold;
    opacity: 0.1;
    user-select: none;
}

.clip {
    position: absolute;
    right: 16%;
    bottom: -30px;
    height: 60px;
    width: 3px;
    background: $brown;
}
// animations
@keyframes move {
    to {
        transform: translate(5px,0px);
    }
}
// styles for furniture

.decor-container,
.furniture-container {
    width: 100%;
    padding: 150px 0;
    // overflow: hidden;
}

.decor-content,
.furniture-content {
    width: 68%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .content {
        width: calc(100%/2);
        display: flex;
        position: relative;

        .pre {
            width: 30%;
        }

        .about-furniture {
            width: 70%;
            padding-right: 4em;

            h1 {
                text-transform: uppercase;
                font-size: 3em;
                position: relative;
                letter-spacing: 2px;
                margin-bottom: 1.4rem;

                &:before {
                    content: '';
                    width: 160px;
                    height: 3px;
                    background: $gray;
                    position: absolute;
                    left: -180px;
                    top: 45%;
                }
            }

            p {
                line-height: 1.4;
                color: $gray;
                font-size: 1.3em;
                position: relative;
                margin-bottom: 30px;

                &:before {
                    content: '';
                    position: absolute;
                    width: 50px;
                    height: 4px;
                    background: $brown;
                    top: 10%;
                    left: -70px;
                }
            }

            button {
                background: 0;
                border: 0;
                outline: 0;
                font-size: 1em;
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 3px;
                cursor: pointer;
                position: relative;

                &:after {
                    content: '';
                    width: 40px;
                    height: 3px;
                    background: $brown;
                    position: absolute;
                    bottom: -5px;
                    left: 0;
                }

                span {
                    color: $brown;
                }
            }
        }
        // .item_nr {
        //     position: absolute;
        //     bottom: 0;
        //     left: 0;
        //     font-size: 3em;
        //     font-weight: bold;
        //     line-height: 0;
        //
        //     span {
        //         color: $brown;
        //     }
        //
        //     &:after {
        //         content: '';
        //         position: absolute;
        //         width: 4px;
        //         height: 60px;
        //         top: 100px;
        //         left: 40%;
        //         background: $brown;
        //     }
        // }
    }

    .img {
        width: 60%;
        position: relative;
        user-select: none;

        img {
            width: 100%;
            box-shadow: -2px -2px 15px $brown;
            filter:grayscale(0.8);
            // display:none;
        }

        .furniture-text {
            text-transform: uppercase;
            color: $brown;
            opacity: 0.2;
            font-size: 10em;
            position: absolute;
            bottom: 25%;
            right: -80%;
            font-weight: bold;
        }

        .decor-text {
            text-transform: uppercase;
            color: $brown;
            opacity: 0.2;
            font-size: 10em;
            position: absolute;
            bottom: 25%;
            left: -45%;
            font-weight: bold;
        }
    }
}

.about-decor {
    width: 70%;
    padding-left: 4em;
    text-align: right;

    h1 {
        text-transform: uppercase;
        font-size: 3em;
        position: relative;
        letter-spacing: 2px;
        margin-bottom: 1.4rem;

        &:before {
            content: '';
            width: 160px;
            height: 3px;
            background: $gray;
            position: absolute;
            right: -180px;
            top: 45%;
        }
    }

    p {
        line-height: 1.4;
        color: $gray;
        font-size: 1.3em;
        position: relative;
        margin-bottom: 30px;

        &:before {
            content: '';
            position: absolute;
            width: 50px;
            height: 4px;
            background: $brown;
            top: 10%;
            right: -70px;
        }
    }

    button {
        background: 0;
        border: 0;
        outline: 0;
        font-size: 1em;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 3px;
        cursor: pointer;
        position: relative;

        &:after {
            content: '';
            width: 40px;
            height: 3px;
            background: $brown;
            position: absolute;
            bottom: -5px;
            left: 0;
        }

        span {
            color: $brown;
        }
    }
}

.furniture-content {
    .item_nr {
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 3em;
        font-weight: bold;
        line-height: 0;

        span {
            color: $brown;
        }

        &:after {
            content: '';
            position: absolute;
            width: 4px;
            height: 60px;
            top: 100px;
            left: 40%;
            background: $brown;
        }
    }
}

.decor-content {
    .content {
        .item_nr {
            position: absolute;
            bottom: 0;
            left: 90%;
            font-size: 3em;
            font-weight: bold;
            line-height: 0;

            span {
                color: $brown;
            }

            &:after {
                content: '';
                position: absolute;
                width: 4px;
                height: 60px;
                top: 100px;
                right: 40%;
                background: $brown;
            }
        }

        .d-letter {
            position: absolute;
            top: 0;
            right: 0;
            line-height: 0;
            font-weight: bold;
            color: $brown;
            top: -200px;
            font-size: 22em;
            opacity: 0.1;
        }
    }
}
//styles for movie sections
.wooder-quality-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // optionally padding
    padding: 4em 0;
    text-align: center;

    h1 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 3em;
        letter-spacing: 3px;
    }

    & > hr {
        width: 60px;
        height: 4px;
        background: $brown;
        border: 0;
        outline: 0;
        margin: 20px 0;
    }

    & > p {
        font-size: 1.6em;
        color: $gray;
        line-height: 1.6;
    }
}

.movies-container {
    width: 68%;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5em 0;
    position: relative;
}

.movie {
    width: calc(100%/3 - 2em);

    hr {
        width: 40px;
        height: 1px;
        border: 0;
        outline: 0;
        background: $brown;
        margin: 20px auto;
    }

    .movie-title {
        font-weight: bold;
    }
}

.movie-miniature {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;

    .miniature {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: relative;
        box-shadow: 0 0 0 10px white, 0 0 0 11px $brown;
        margin: 20px 0;
        transition: all 0.3s;

        &:hover {
            box-shadow: 0 0 0 15px white, 0 0 0 16px $brown;
        }

        .play-icon {
            color: #fff;
            font-size: 2em;
            position: absolute;
            left: 35%;
            right: 35%;
            top: 35%;
            bottom: 35%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $brown;
            padding: 15px 15px 15px 20px;
            line-height: 0;
            border-radius: 50%;
            opacity: 0.6;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
                left: 30%;
                right: 30%;
                top: 30%;
                bottom: 30%;
            }
        }
    }

    .miniature_table {
        background: url("../imgs/quality1.png") no-repeat 30% 50%;
        background-size: 160%;
    }

    .miniature_chair {
        background: url("../imgs/quality2.png") no-repeat 30% 50%;
        background-size: cover;
    }

    .miniature_desk {
        background: url("../imgs/quality3.png") no-repeat 30% 50%;
        background-size: 100%;
    }
}

.complexity-container {
    width: 100%;
    position: relative;
}

.woody-background {
    padding: 400px 0;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.9),rgba(0,0,0,0.9)),url(../imgs/woodBottomBackground.png) no-repeat center;
    background-size: 100%;
}

.big-play-icon {
    // position:absolute;
    color: rgba(255,255,255,0.05);
    position: absolute;
    top: 0;
    right: 10%;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 55em;
    user-select: none;
}

.complexity-content {
    position: absolute;
    // width:80%;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    border: 1px solid $brown;
    display: flex;
    align-items: center;
}

.complexity-content--text {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;

    h2 {
        color: $brown;
        font-size: 2.6em;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height: 1.4;
        position: relative;

        &:before {
            content: '';
            width: 150px;
            height: 3px;
            background: $gray;
            position: absolute;
            right: 105%;
            top: 25%;
        }
    }

    & > p {
        font-size: 1.2em;
        line-height: 1.6;
        color: white;
        margin: 30px 0;
        position: relative;

        &:before {
            content: '';
            width: 50px;
            height: 4px;
            background: $brown;
            position: absolute;
            right: 105%;
            top: 10%;
        }
    }

    .watch-video {
        background: transparent;
        border: 0;
        outline: 0;
        color: white;
        padding: 1em 3em;
        border: 3px solid white;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 1.4em;
    }

    &:after {
        content: '';
        width: 3px;
        height: 150px;
        background: $gray;
        position: absolute;
        left: 120%;
        top: 30%;
    }
}

.v-letter {
    font-size: 22em;
    font-weight: bold;
    color: $brown;
    opacity: 0.1;
    top: 0;
    right: 15%;
    line-height: 0;
    position: absolute;
    z-index: -1;
}
